@model IEnumerable<WebProgramlamaProje.Models.UserMovieQuery>
<div class="profile-header">
    <nav class="profile-nav">
        <ul>
            <li class="img-username">
                <img src="~/media/profile-user.png" /> <span>@ViewBag.username</span>
            </li>
            <li><a asp-action="Index" asp-route-username="@ViewBag.username">Profile</a></li>
            <li class="active"><a asp-action="Films" asp-route-username="@ViewBag.username">Films</a></li>
            <li><a asp-action="Reviews" asp-route-username="@ViewBag.username">Reviews</a></li>
            <li><a asp-action="EditProfile" asp-route-username="@ViewBag.username">Edit Profile</a></li>
        </ul>
    </nav>
</div>
<table class="films-table mt-5">
    <tr>
        <th>Date</th>
        <th>Film</th>
        <th>Released</th>
        <th>Rating</th>
        <th>Review</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Date</td>
        <td class="film-title">
            <img src="@item.ImageURL" width="35" height="50" />
            @item.Title
        </td>
        <td>@item.Year</td>
        <td>@item.Rating</td>
        <td>
            @{ if (item.Review != null)
                {
                    <i class="far fa-comment-dots"></i>
                }
             }
        </td>
    </tr>
    }
</table>