@model dynamic
@{
    ViewData["Title"] = String.Format("{0}'s Profile", ViewBag.username);
}
@inject IViewLocalizer Localizer

<div class="profile-header">
    <nav class="profile-nav">
        <ul>
            <li class="img-username">
                <img src="~/media/profile-user.png" /> <span>@ViewBag.username</span>
            </li>
            <li class="active"><a asp-action="Index" asp-route-username="@ViewBag.username" >@Localizer["Profile"]</a></li>
            <li><a asp-action="Films" asp-route-username="@ViewBag.username">@Localizer["Films"]</a></li>
            <li><a asp-action="Reviews" asp-route-username="@ViewBag.username">@Localizer["Reviews"]</a></li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col-md-9">
        <h2 class="col-heading">
            @Localizer["RecentActivity"]
        </h2>
        <div class="row">
            @{ foreach (var item in Model.act)
                {
                    <div class="col-md-3">
                        <div class="border-456">
                            <img width="150" height="225" src="@item.ImageURL" />
                        </div>
                    </div>
                }
            }

        </div>
        <h2 class="col-heading">
            @Localizer["RecentReviews"]
        </h2>
        @{ foreach (var item in Model.rev)
            {
                <div class="review">
                    <img src="@item.ImageURL" />
                    <div class="pt-3">
                        <i class="fas fa-user-circle"></i> @item.UserName
                    </div>
                    <div class="review-movie-title pt-1">@item.Title <small>(@item.Year)</small></div>
                    <div class="pt-1">@item.Rating</div>
                    <div class="review-text">
                        @item.Review
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-md-3">
        <h2 class="col-heading">fatihbykl</h2>
    </div>
</div>