@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="profile-header">
    <nav class="profile-nav">
        <ul>
            <li class="img-username">
                <img src="~/media/profile-user.png" /> <span>@Model.UserName</span>
            </li>
            <li><a asp-action="Index" asp-route-username="@User.Identity.Name">Profile</a></li>
            <li><a asp-action="Films" asp-route-username="@User.Identity.Name">Films</a></li>
            <li class="active"><a asp-action="Reviews" asp-route-username="@User.Identity.Name">Reviews</a></li>
            <li><a asp-action="EditProfile" asp-route-username="@User.Identity.Name">Edit Profile</a></li>
        </ul>
    </nav>
</div>
<div class="reviews">
    <div class="row">
        <div class="col-md-2">
            <img src="~/media/oslo.jpg"/>
        </div>
        <div class="col-md-10">
            <h3>Oslo, 31 August <small>2010</small></h3>
            <div class="review-rating">***** watched 31 august</div>
            <div class="review-desc">Oyun dünyası filme çok güzel yedirilmiş. 
            Bazı sahnelerde oyun oynuyormuş hissi uyandırıyor. 
            Espriler desen yeri geliyor kahkaha attırıyor. 
            Sonuç olarak 1 saat 52 dakika sıkmadan akan bir film.</div>
        </div>
    </div>
</div>