@model IEnumerable<WebProgramlamaProje.Models.UserMovieQuery>
@{
}
<div class="profile-header">
    <nav class="profile-nav">
        <ul>
            <li class="img-username">
                <img src="~/media/profile-user.png" /> <span>@ViewBag.username</span>
            </li>
            <li><a asp-action="Index" asp-route-username="@ViewBag.username">Profile</a></li>
            <li><a asp-action="Films" asp-route-username="@ViewBag.username">Films</a></li>
            <li class="active"><a asp-action="Reviews" asp-route-username="@ViewBag.username">Reviews</a></li>
            <li><a asp-action="EditProfile" asp-route-username="@ViewBag.username">Edit Profile</a></li>
        </ul>
    </nav>
</div>
<div class="reviews">
    <div class="row">
        @{ foreach (var item in Model)
            {
                <div class="col-md-2">
                    <img src="@item.ImageURL" />
                </div>
                <div class="col-md-10">
                    <h3>@item.Title <small>@item.Year</small></h3>
                    <div class="review-rating">@item.Rating watched @item.Date</div>
                    <div class="review-desc">
                        @item.Review
                    </div>
                </div>
            }

        }
    </div>
</div>